.guest_selector {
    display: block;
    margin-top: 20px;
}

.selector {
    margin-top: 20px;
}
.guest-tab h4 {
    font-size: 14px;
    color: #333;
    font-family: var(--Font-sub);
    padding: 5px 0;
}

.number {
    display: flex;
    align-items: center;
}

.icon_btn {
    height: 23px;
    width: 23px;
    border: none;
    cursor: pointer;
}

.m_ed {
    width: 33px !important;
    height: 28px !important;
}

.number span {
    padding-left: 10px;
    padding-right: 10px;
}