.btn_div {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.btn_div button {
    display: block;
    height: 55px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: #bdbdbd;
}

.search_icn {
    position: relative !important;
}

.icn_btn {
    align-self: center;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--Main-Color-Red);
}

.input_single  {
    width: 150px;
    border-right: 1px solid #f2f2f2 !important;
}

.guest {
    width: 100px;
    border-right: 1px solid #f2f2f2 !important;
}

.search {
    width: 50px;
    text-align: center;
    color: var(--Main-Color-Red);
}

/* big navigation */
nav .search button {
    border: none;
    background-color: var(--Main-Color-Red);
    color: #fff;
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;
}

nav .location-tab p {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.location small {
    font-weight: bold;
}

.guests input,
.location input {
    border: none;
    outline: none;
    width: 220px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.5);
    top: 0;
    left: 0;
}

@media (max-width: 600px) {
    .btn_div {
        margin-top: 40px;
    }

    .input_single  {
        width: 100%;
    }
    
    .guest {
        width: 100%;
    }
    
    .search {
        width: 100%;
    }
}
