:root {
  /* MAIN FONTS */
  --Font-Main : 'Montserrat', sans-serif;
  --Font-sub : 'Mulish', sans-serif;

  /* MAIN FONT COLORS */
  --Font-Color-Dark : #333333;
  --Font-Color-Dark02 : #4f4f4f;
  --Font-Color-Light : #828282;

  /* COLORS */
  --Main-Color-Red :#EB5757E5;
}

h1 {
  font-family: var(--Font-Main);
  font-weight: 700;
  font-size: 45px;
  line-height: 31.26px;
  color: var(--Font-Color-Dark);
}

h2 {
  font-family: var(--Font-Main);
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--Font-Color-Dark);
}

h4, h5 {
  font-size: 16px;
  line-height: 19.5px;
  font-family: var(--Font-Main);
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 12.07px;
  font-family: var(--Font-Main);
  font-weight: 500;
  color: var(--Font-Color-Light);
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

.top-texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.footer_link {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: 0 auto !important;
  }

  .header {
    display: block;
  }

  .card-row {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

